@media all and (max-width: 992px) {
    #main-nav .toggle {
        display: block;
        color: #1AC056;
        font-size: 20px;
        text-align: right;
        line-height: 50px;
    }
    
    #main-nav ul {
        display: none;
    }
    
    #main-nav #drop:checked + ul {
        display: block;
    }
    
    #main-nav ul li {
        width: 100%;
    }
}