* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/*nawigacja start */

#main-nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #FFF;

}

#main-nav ul {
    list-style-type: none;
    text-align: right;
    padding: 0;
    margin: 0;

}

#main-nav ul li {
    display: inline-block;
    line-height: 50px;
    margin-right: 30px;


}

#main-nav ul li a {
    text-decoration: none;
    color: #1AC056;
    font-family: 'Lato', sans-serif;
    transition: all 0.4s;
}

#main-nav ul li a:hover {
    color: #333;
}

/*
#main-nav li {
    margin: 40px;
}
*/

/*nawigacja stop */

#header {
    text-align: center;
    /*    position: relative;*/
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

#header h1 {
    font-size: 100px;
    color: #FFF;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 180px;
}

#o-mnie {
    text-align: center;
    background-color: #F9FCFE;
    /*    margin-top: 52px;*/
    /*    margin-bottom: 52px;*/
    overflow: hidden;
}

#o-mnie h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#o-mnie figure {
    float: left;
    width: 45%;


}

.inner {
    font-size: 39px;
    color: #FFF;
}

#section {
    width: 45%;
    height: 80vh;
    float: right;
    margin-right: 106px;
    text-align: left;

}


#figure {
    text-align: center;
    width: 250px;
    height: 100%;
    border: 5px solid bisque;
    border-radius: 5px;
    margin: 0;
}

#clear {
    clear: both;
}